header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 64px;
    background-color: #fff;
}

.cabecalho-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 13px;
    left: 16px;
}

.upe-logo {
    width: 45px;
    height: 45px;
}

.multicampi-logo {
    width: 45px;
    height: 45px;
    padding-left: 4px;;
}
