#principal {
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  grid-template-rows: auto auto 50px;
  grid-template-areas:
    'cabecalho'
    'conteudo'
    'rodape';
}

main.conteudo {
  grid-area: 'conteudo';
  display: flex;
  align-items: center;
  padding: 7rem 0;
  flex-direction: column;
  justify-content: center;
  color: #d4d5d6;
}
