div.gerador-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.imagem-cadeado-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 200px;
}

div.gerador-container .input {
  display: flex;
  align-items: center;
  position: relative;
  align-content: center;
  height: 56px;
  border: 1px solid #d4d2e6;
  border-radius: 24px;
  background-color: #fff;
  box-sizing: content-box;
  margin-right: 16px;
  transition: border 0.3s;
  width: 700px;
}

div.gerador-container .input .senha {
  width: 100%;
  text-align: left;
  font-size: 1.9em;
  letter-spacing: 0.1px;
  color: #261c6a;
  padding: 10px 0 10px 24px;
  margin: 0;
  border: none;
  border-radius: 24px;
  outline: none;
  background-color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.classificacao {
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  margin: auto 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.classificacao-lg {
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 1.5px;
  padding: 0 0.75rem;
  height: 28px;
}

span.muito-forte {
  background-color: #0070f6;
}

div.gerador-container .botao-gerar-container {
  display: flex;
  align-content: center;
}

.img-gerar {
  min-width: 24px;
  height: 24px;
  margin: auto 22px;
  cursor: pointer;
}

.copiar {
  display: flex;
  vertical-align: top;
  justify-content: center;
  max-width: 100%;
  margin-top: 16px;
}

.lnk-copiar {
  display: inline-flex;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  color: #fff;
  font-size: 11px;
  line-height: 14px;
  padding: 0 24px;
  height: 40px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  text-decoration: none;
  background-color: #0070f6;
  border-width: 0;
  border: 2px solid transparent;
  border-radius: 28px;
  box-shadow: 0 8px 32px -8px rgb(0 112 246 / 40%),
    0 16px 32px -16px rgb(7 29 43 / 16%);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.ajustes {
  width: 553px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 25px;
}

.tamanho {
  display: flex;
  align-items: center;
  box-sizing: content-box;
  margin-bottom: 20px;
  margin-top: 25px;
}

.tamanho-label {
  margin-left: 0;
  margin-right: 20px;
  margin-bottom: 0;
  font-size: 1.4rem;
  line-height: 1.5rem;
  margin-top: 0;
  display: inline-block;
  white-space: nowrap;
}

.tamanho-definido {
  width: 16px;
  margin-right: 67px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 0;
  font-size: 1.3rem;
  line-height: 1.313rem;
  margin-top: 0;
}

.btn-senha {
  margin-right: 16 px;
  border: 1px solid #7d77a6;
  background-color: transparent;
  outline: none;
  color: #7d77a6;
  box-shadow: none;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 50%;
  transition: all 0.1s ease-in;
  font-size: 1.5rem;
}

input[type='range'] {
  -webkit-appearance: none;
  width: 335px;
  height: 4px;
  border-radius: 2px;
  cursor: pointer;
}

input[type='range' i] {
  appearance: auto;
  cursor: default;
  color: rgb(157, 150, 142);
  padding: initial;
  border: initial;
  margin: 2px;
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 2px;
  margin-top: -4px;
}

.complexidade {
  margin-top: 25px;
  display: flex;
  box-sizing: content-box;
}

.texto-caracteres {
  display: inline-block;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 45px;
  font-size: 1.4rem;
  line-height: 1.5rem;
  white-space: nowrap;
}

.check-caracteres {
  display: inline-flex;
}

.check-opcao {
  margin-bottom: 0;
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 2rem;
}

input[type='radio'],
input[type='checkbox'] {
  box-sizing: border-box;
  padding: 0;
}

input[type='checkbox' i] {
  background-color: initial;
  cursor: pointer;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}

.item-opcao {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 0;
  overflow: visible;
}

.item-opcao-label {
  font-weight: 600;
  font-size: 1.1em;
  text-align: left;
  width: 50px;
  line-height: 1.5;
  margin-right: 20px;
  margin-bottom: 0;
  display: block;
  cursor: pointer;
  white-space: nowrap;
}
